<html>
    <body background="static\heart.jpeg">

        <center>

        <h1> Heart Disease Prediction </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> age :  <input type="text", name='a', placeholder="enter age"> <br><br>
            gender :  <input type="text", name='b', placeholder="enter gender"> <br><br>
            cp :  <input type="text", name='c', placeholder="enter cp"> <br><br>
            trestbps :  <input type="text", name='d', placeholder="enter trestbps"> <br><br>
            chol :  <input type="text", name='e', placeholder="enter chol"> <br><br>
            fbs :  <input type="text", name='f', placeholder="enter fbs"> <br><br>
            restecg :  <input type="text", name='g', placeholder="enter restecg"> <br><br>
            thalach :  <input type="text", name='h', placeholder="enter thalach"> <br><br>
            exang :  <input type="text", name='i', placeholder="enter exang"> <br><br>
            oldpeak :  <input type="text", name='j', placeholder="enter oldpeak"> <br><br>
            slope :  <input type="text", name='k', placeholder="enter slope"> <br><br>
            ca :  <input type="text", name='l', placeholder="enter ca"> <br><br>
            thal : <input type="text", name='m', placeholder="enter thal"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        <!-- <img src='static\heart1.jpg' alt="heart"> --> 
        
    </center>

    </body>
</html>
